<!--  ============================================ -->
<!-- ; Title: Assignment 1.5-->
<!-- ; Author: Professor Krasso-->
<!-- ; Date: 8 July 2020 -->
<!-- ; Modified By: Joann Saeou -->
<!-- ; Description:  Demonstrates  how to use app-components Angular  -->
<!-- ; =========================================== -->


<div class="row">
    <div class="col-sm-12">

        <div class="textSearch">
            <input type="text" id="txtSearch" class="form-control" placeholder="Search by name" [formControl]="txtSearchControl" />
        </div>
        <table class="table table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th scope="col">Composer ID</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Genre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let composer of composers">
                    <td scope="row">
                        <a routerLink="../composer-details/{{ composer.composerId }}">
            {{ composer.composerId }}
            </a>

                    </td>
                    <td scope="row">{{ composer.fullName }}</td>
                    <td>{{ composer.genre }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>