.col-sm-12, .row {
    color: rgb(255, 255, 255);
    background-color: rgb(247, 193, 193);
    text-shadow: rgb(122, 122, 122) 4px 3px 0px;}

.columnOne  { 
    float: left;
    width: 50%;
    padding: 10px;
    height: 470px;

    color: rgb(255, 255, 255);
background-color: rgb(247, 193, 193);
text-shadow: rgb(122, 122, 122) 4px 3px 0px;
    

  }

  .columnTwo  { 

    float: right;
    width: 50%;
    padding: 20px;
    height: 470px;
    content: "";
    font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 38px;
letter-spacing: -1.4px;
word-spacing: 1px;
color: #000000;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
color: #B99EA0;
background-color: rgb(247, 193, 193);
text-shadow: rgb(122, 122, 122) 1px 3px 0px;

 }

  .row {  
      content: ""; 
      display: flex;
      clear: both;

  }

  h2 { color: rgb(255, 255, 255);
    background-color: rgb(247, 193, 193);
    text-shadow: rgb(122, 122, 122) 4px 3px 0px;
    padding: 4px;
    font-size: 26px;

  }