<!--  ============================================ -->
<!-- ; Title: Assignment 1.5-->
<!-- ; Author: Professor Krasso-->
<!-- ; Date: 7 July 2020 -->
<!-- ; Modified By: Joann Saeou -->
<!-- ; Description:  Demonstrates  how to use TypeScript -->
<!-- ; =========================================== -->





<nav class="nav navbar-expand-md nav-tabs bg-secondary h5 navbar-secondary text-white clearfix "> 
 <div class="d-flex flex-row"> 

  <ul class="nav nav-pills nav-fill">

    <li class="nav-item active">

      <a class="nav-link" href="#">Home </a>


    </li>
    <li class="nav-item">

      <a class="nav-link" href="#">About </a>


    </li>
    <li class="nav-item">

      <a class="nav-link" href="#">Contact Us </a>


    </li>



  </ul>
 </div>



</nav>


<div class="container">

  <br/> <br/>

  <h2> {{ assignment }}</h2>


 
  <div class="row">

    <div class="col-sm-12">
      <div class="row">
        <div class="columnOne" style="background-color:#aaa;">
          <h2>Column 1</h2>
          <p>  <app-my-image> </app-my-image></p>
        </div>
        <div class="columnTwo" style="background-color:#bbb;">
          <h2>Column 2</h2>
          <p> <app-my-details></app-my-details></p>
        </div>
      </div>


</div>