/**
 * Title: book-list.component.css
 * Author: Professor Krasso
 * Date: 05 August  2020
 * Modified: Joann Saeou
 * Description: Book list component CSS (book list page)
 */

.a-link {
    text-decoration: none;
    cursor: pointer;
}

.a-link:hover {
    text-decoration: underline;
}
