 /**
 * Title: home.component.css
 * Author: Professor Krasso
 * Date: 15 August 2020
 * Modified: Joann Saeou
 * Description:home   component (css page)
 */

 .grade-form {
     margin-left: 8px;
 }
