<!-- /**
 * Title:home.component.html
 * Author: Joann Saeou
 * Date: 30 August 2020
 * Description:fixing code attribution
 */ -->


<div fxLayout="column">
    <mat-card fxFlex style="margin-top: 10%; width: 50%; margin-left: 18%;" class="mat-elevation-z0">
        <mat-card-title>
            <h2>Welcome to the home-page</h2>
        </mat-card-title>
        <br/>
        <mat-card-content style="text-align: center; padding-left: 30%;">
            <button mat-raised-button color="accent" routerLink="../not-found">not found </button>
        </mat-card-content>
    </mat-card>
</div>