/**
* Title: gpa.component.css
* Author: Professor Krasso
* Date: 15 August 2020
* Modified: Joann Saeou
* Description: gpa  component (css page)
*/

p {
    padding: 20px;
    margin: 10px;
    block-size: 10px;
}
