<div class="row">

    <div class="col-sm-12">

        <ul class="list-group">

            <li class="list-group-item">

                <p>Composer ID:</p><span> {{ composer.composerId }}</span>


            </li>
            <li class="list-group-item">

               <p>Full Name:</p><span>{{ composer.fullName }}</span>


            </li>
            <li class="list-group-item">

               <p>Genre:</p> <span>  {{ composer.genre }}</span>


            </li>




        </ul>

        <br/>

        <a routerLink="/composer-list" class="float-right"> Return to composer</a>



    </div>



</div>


