<!-- /**
* Title: wishlist-create.component.html
* Author: Professor Krasso
* Date: 28 August  2020
* Modified: Joann Saeou
* Description: wishlist create component (html page)
*/  -->

<form fxLayout="column" class="wishlist-create-form">


    <mat-form-field fxFlex appearance="fill">
        <mat-label>Title</mat-label>
        <input type="text" matInput [(ngModel)]="item.title">
        <!-- ng tells Angular that this is a ngModule field  -->
    </mat-form-field>

    <mat-form-field fxFlex appearance="fill">
        <mat-label>Authors</mat-label>
        <input type="authors" matInput [(ngModel)]="item.authors">
        <!-- ng tells Angular that this is a ngModule field  -->

    </mat-form-field>


    <button mat-button color="primary" (click)="addItem()">Add item </button>
</form>