


.columnTwo, .columnOne {

    padding: 60px;
    height: 500px;
    align-content: center;
    border: solid 2px;


}


h2 {padding: 20px;
    font-size: 46;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    clear: both;

    


}

h1 {
    font-size: 46px;
    clear: both;
   
    border-bottom: solid 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}