<!-- /**
* Title: not-found.component.html
* Author: Professor Krasso
* Date: 15 August 2020
* Modified: Joann Saeou
* Description: not-found component (html page)
*/ -->

<div fxLayout="column">
    <mat-card>
        <mat-card-header>
            <mat-card-title> {{ title }}</mat-card-title>
            <mat-card-subtitle>
                <h2> Page not found. </h2>
                <h2> Page not found. </h2>
                <h2> Page not found. </h2>
                <h2> Page not found. </h2>
                <h2> Page not found. </h2>
                <h2> Page not found. </h2>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <button mat-raised-button color="primary;" routerLink="/">Return home</button>

        </mat-card-content>
    </mat-card>


    <!-- in order for the return home to work you must only add the / -->

</div>
