<!-- /**
 * Title:not-found.component.html
 * Author: Joann Saeou
 * Date: 30 August 2020
 * Description:fixing code attribution
 */ -->

<div fxLayout="column">
    <mat-card>
        <mat-card-header>
            <mat-card-title> {{ title }}</mat-card-title>
            <mat-card-subtitle>
                <h2> Page not found. </h2>
                <h2> Page not found. </h2>
                <h2> Page not found. </h2>
                <h2> Page not found. </h2>
                <h2> Page not found. </h2>
                <h2> Page not found. </h2>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
    <mat-card fxFlex style="margin-top: 40%; width: 50%; scroll-margin-right: 18%;" class="mat-elevation-z0">
        <mat-card-title>

        </mat-card-title>
        <br/>
        <mat-card-content style="text-align: center; padding-left: 30%; border-radius: 50%;">
            <button mat-raised-button color="primary" routerLink="../home/home.component.html">Return home</button>
            <!-- <button mat-raised-button color="accent" routerLink="../not-found">not found </button> -->
        </mat-card-content>
    </mat-card>
</div>